.bdy{
    background:powderblue;
}
.container{
background: white;
position: relative;
width: 54%;
height: 50%;
border: 1px solid green;
margin-left: 400px;
margin-top: 10px


}
.container1{
background: white;
position: relative;
width: 54%;
height: 50%;
border: 1px solid green;
margin-left: 400px;
margin-top: 20px

}

.container2{
background: white;
position: relative;
width: 54%;
height: 30%;
border: 1px solid green;
margin-left: 400px;
margin-top: 3px

}
.hwater{
margin-left: 40%;
margin-bottom: 1%
}
.mhc{
margin-left: 30%;
margin-top: 1%;

}
.masm1{
margin-left: 450px;
margin-top: 1%

}
.masa{
    margin-bottom: 2%;
    margin-left: 350px;
    width: 22%;
    height: 30%
    

}
.wota{
margin-left: 400px;
width: 16%;
height: 16%
}
.housing{
margin-left: 42%;
width: 16%;
height: 16%;
}

.pay1{
height: 32px;
width: 14%;
margin-left: 450px;
background: rgb(50, 168, 35);
margin-bottom: 50%;
}
.pay2{
height: 32px;
width: 14%;
margin-left: 450px;
background: rgb(50, 168, 35);
margin-top: 10px;
}
.pay3{
background: rgb(50, 168, 35);
height: 32px;
width: 14%;
margin-left: 450px;
margin-top:26px    
}
.payit{
    margin-top: -1%;
margin-left: 650px;
}
.payit2{
margin-left: 650px;
}
